<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ol id="messages"></ol>

<form id="message-form" method="POST">
    <input id="message" type="text" placeholder="Enter your message here.."/>
    <button>Send message</button>
</form>

<button id="send-location">Send location</button>
